@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,100;1,300;1,400&family=Inconsolata:wght@400;500;600&family=Karla:wght@200;400;500;600&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,100&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,900&family=Scada&family=Ysabeau+Infant:ital,wght@0,300;1,1;1,100;1,300&family=Ysabeau+SC:wght@1;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Karla', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Scada', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 60px 0 40px 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#search-input{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 10px 15px;
    width: 30%;
    max-width:400px;
    font-family: 'Ysabeau SC', sans-serif;

}
#search-input:focus{
  outline:none;
}
#search-button{
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 2px;
    background-color: #138065;
    text-align: center;
}
.search-images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}
.image-result{
    width: 30%;
    height: 100%; 
    margin-bottom: 60px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.image-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}
.image-result:hover img{
    opacity: 0.8;
}
.image-result a{
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
#show-btn{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    text-align: center;
    margin: 30px auto;
    color: #fff;
    border-radius: 4px;
    display: block;
    background-color: #008cba;
    cursor: pointer;
    display: none;
}
#error-message{
    width: 150px;
    height: auto;
    background-color: #138065;
    color: #fff;
    margin: 10px auto;
    padding: 40px;
    align-items: center;
}

@media screen and (max-width:768px){
    .image-result {
        width: 45%;  
    }
    .search-images {
        padding: 20px;
    }
}

@media screen and (max-width:477px){
    .search-images {
        padding: 20px;
    }
    .image-result {
        width: 100%;   
    }
    #search-input {
        margin: 10px 2px;
        width: 50%;
    }
}